img{
max-width: 100%;
height: auto;
}
a{
text-decoration: none !important;
cursor:pointer;
}
ul{
list-style: none;
}
#bg-img{
background-color: rgba(100,100,800,1);
background-image:url(../../images/jpg/img-hero-image.jpg);
background-color: rgba(000,010,000,0.6);
min-height: 320px;
position:unset;
background-blend-mode: soft-light;
width: 1440px;
height: 700px;
-webkit-background-size:cover;
-moz-background-size:cover;
-moz-background-repeat: no-repeat;

}
.bg_header {
width: 1440px;
height: 60px;
padding-top: 51px;
}
.logo{
width: 121px;
height: 35px;
object-fit: contain;
}
.nav_list{
margin: auto 32px auto 32px;
}
.nav_list>ul{float: right; padding:10px;}
.nav-links{
display: inline;
padding: 18px;
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
}
.nav-links a:hover{
background-color:#47ad6d;
padding: 10px;
border-radius: 5px;
}
.nav-links a:active{
background-color:red;
}
ul>li>a>span {
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: white;
}
.icon{
display:none;
}
@media (max-width: 768px) {
.icon{
display:block;
color:#47ad6d;
float: right;
padding: 5px;
}
.top-nav{
display: none;
margin: 10px 20px 10px 20px;
}
}
.headings{
text-align:center;
margin-top: 199px;
}
.headings>span {
font-family: Roboto;
font-size: 82px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
margin:auto;
position: relative;
flex: 1;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
background-image: url("http://66.media.tumblr.com/9d5be60c175cdbe15e875fef01b9a66b/tumblr_ntz3mmEFFr1twd8ddo1_500.gif");
-webkit-background-clip: text;
-moz-background-clip: text;

-webkit-background-repeat: no-repeat;
-moz-background-repeat: no-repeat;

}
.heading_parg{
margin-top: 29px;
}
.heading_parg>p {
opacity: 0.7;
font-family: Roboto;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}
@media (max-width: 768px) {
.headings{
margin-top: 160px;
}
#Are-you-a-frontend-mob{
font-size: 41px;
}
.heading_parg>p {
font-size: 18px;
}
}
.btn_read-more_bg {
width: 192px;
height: 67px;
border-radius: 4px;
box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
background-color:#27ad6c;
}
.Apply-now {
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}
.div-box{margin-top:100px;}
.div-box-headings{
font-family: Roboto;
font-size: 48px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1;
letter-spacing: normal;
text-align: center;
color: #9b9b9b;
}
.div-box-items{
margin:60px 10px 10px 10px;
text-align: center;
}
.div-box-items-parag{
padding:40px 0px 10px 0px;
}
.div-box-items-parag>p:first-child{
font-family: Roboto;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
color: #27ad6c;
}
.div-box-items-parag>p:last-child{
opacity: 0.78;
font-family: Roboto;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.57;
letter-spacing: normal;
color: #4a4a4a;
}
.div-box-2{
margin-top: 70px;
}
* .list-styles-left{
padding:0px 100px 0px 50px;
border-right: 1px solid #88c542 !important;
}
.list-styles-right{
padding:0px 100px 0px 50px;
}
.list-styles ul>a>li {
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #27ad6c;
list-style: none;
}
li.globe{
padding: 30px 0px 30px 28px;
background: url('../../images/png/globe.png')no-repeat left 26px;
display: block;
}
li.globes{
padding: 30px 0px 30px 28px;  }
.Resources {
font-family: Roboto;
font-size: 48px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color:#9b9b9b;
text-align: left;
}
.-hours-ago {
opacity: 0.8;
font-family: Roboto;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #9b9b9b;
padding-top: 5px;
}
hr{
width: 123px;
height: 1px;
background-color: #88c542;
}
@media (max-width: 776px) {
.hr-line{
display: none;
}
.list-styles-right ,.list-styles-left {
padding: 10px;
border-right:none !important;
}
li.globes{
padding: 30px 0px 30px 0px;
}
.Resources{
padding: 0px;
}
}
.hr-line{
position:relative;
right:-70px;
top: 7px;
}
.div-box-3{
margin-top: 40px;
}
.Just-because-__ {
padding: 6px;
font-family: Roboto;
font-size: 14px;
font-weight: normal;
font-style: italic;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color:#9b9b9b;
}
.foods-img{
text-align: center;
}
.foods-img>div{
padding: 0px;
}
.div-box-4{
padding-top: 100px;background-color:#423633;
}
.div-box-4-items{
text-align: left; padding:10px;
}
.globee>span{
font-family: Roboto;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.44;
letter-spacing: normal;
text-align: left;
color: #ffffff;
}
.globee>p{
opacity: 0.5;
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: justify-all;
color: #ffffff;
padding-top: 10px;
}
.globee{
padding: 30px 0px 30px 65px;
}
.footer_bg {
background-color:#333333;
display:flex;
padding: 20px 10px 0px 10px;
}
.copyright-text {
display: inline;
font-family: Roboto;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
padding:0px 12px 0px 12px;
float: left;
}
@media(max-width:768px ){
.copyright-text{
text-align: center !important;
}
}